

  
.tittle{
    margin-top: 1rem;
    margin-left: 1rem;
}

.example-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.example-list {
    max-height: 100px;
    background: white;
    overflow: hidden;
    white-space: nowrap;
    max-width: 90%;
    margin: 0px 15%;
}
  
.example-box {
    width: 70px;
    height: 70px;
    border-right: none;
    border: solid 1px #ccc;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    margin: 5px 0px;
    text-align: center;
    display: inline-block;
    margin: 0px 0px 0px 5px;
    position: relative;
    justify-content: top;
    align-items: top;
  }
  
  .cdk-drag-preview {
    z-index: 10000000000;
    width: 200px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }