<mat-card class="unasignedcard" color="primary">
  <mat-card-title>
<h2 class="tittle" matBadge={{devices.length}} matBadgePosition="after above" matBadgeColor="accent">Unasigned Devices</h2>
</mat-card-title>

  <div overflow="scroll" class="unasigned-container" >
    <button (mousedown)="scrollLeft()" (mouseup)="stopScroll()" (mouseout)="stopScroll()" mat-mini-fab color="accent" class="left_button"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <div #containerunasigned cdkDropListSortingDisabled cdkDropList [cdkDropListData]="devices" cdkDropListOrientation="horizontal" class="unasigned-list" (cdkDropListDropped)="drop($event)">
      <div class="unasigned-box" *ngFor="let device of devices" cdkDrag >
        <app-device-details [device]="device"></app-device-details>
      </div>
    </div>
    <button (mousedown)="scrollRight()" (mouseup)="stopScroll()" (mouseout)="stopScroll()" mat-mini-fab color="accent" class="right_button"><mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>
</mat-card>

