.device {
    text-align: center;
    min-height: 150px;
}

.icono {
    transform: scale(2);
    margin-top: -100px;
    width: 25px;
}

.delete {
    position: relative;
    margin-left: 95%;
    margin-top: -125px;
}

.linea {
    position: relative;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    
}
