<h1 mat-dialog-title>Change name</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Room name:</mat-label>
    <input id="nombre" matInput (input)="validate()" [(ngModel)]="data.newName" value="data.oldName">

  </mat-form-field>
  <br>
  <mat-label *ngIf="usedName && changed" for="nombre" class="error">Name {{data.newName}} already used</mat-label>
  <mat-label *ngIf="!validName" for="nombre" class="error">Name is empty</mat-label>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Back</button>
  <button #okButton mat-button [mat-dialog-close]="data" [disabled] = "usedName || !validName" >Ok</button>
</div>
