<h1 mat-dialog-title>Change name</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Room name:</mat-label>
    <input id="nombre" matInput (input)="validate()" [(ngModel)]="data.newName" value="data.oldName">

  </mat-form-field>
  <br>
  <mat-label *ngIf="usedName && changed" for="nombre" class='error'>El nombre {{data.newName}} ya está usado</mat-label>
  <mat-label *ngIf="!validName " for="nombre" color="warn">El nombre está vacio</mat-label>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Back</button>
  <button #okButton mat-button [mat-dialog-close]="data" [disabled] = "usedName || !validName" >Ok</button>
</div>
