.roomscard{
    width: 65%;
    min-height: 300px;
    height: 70%;
    margin-top: 1%;
    background-color:#3F51B5;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /*border: 5px solid #4885ed;
    box-shadow: 1px 2px 10px 0 #4885ed;*/
    box-shadow: 1px 2px 10px 0 black;

}

.roomlist{
    position: absolute;
    width: 98%;
    max-height: 85%;
    overflow: auto;
    margin-right: 0;
}

.tittle{
    position: absolute;
    margin-left: 1rem;
    font-size: 20px;
    color: white;
}

.add-room{
    position: relative;
    margin-top: -1%;
    margin-left: 95%;
}