
.unasignedcard{
    width: 65%;
    height: 150px;
    margin-top: 1rem;
    background-color:#3F51B5;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /*border: 5px solid #4885ed;
    box-shadow: 1px 2px 10px 0 #4885ed;*/
    box-shadow: 1px 2px 10px 0 black;
  }
  
  .left_button {
    position: relative;
    margin-left: 13%;
    margin-right: -13%;
  }
  
  .right_button {
    position: relative;
    margin-right: 13%;
    margin-left: -13%;
  }
  
  .device {
    margin-top: 10px;
    transform: scale(2);
  }
  
  .label {
    margin-top: 10px;
    font-size: 16pt;
  }
  
  .tittle{
      position: absolute;
      margin-left: 1rem;
      font-size: 20px;
      color: white;
  }
  
  .unasigned-container {
      display: flex;
      position: absolute;
      width: 95%;
      min-width: 100px;
      margin-top: 3rem;
      justify-content: center;
      align-items: center;
  }
  
  .unasigned-list {
      
      min-width: 70%;
      min-height: 100px;
      overflow: hidden;
      white-space: nowrap;
      width: 75%;
      margin: 0px 15%;
      scroll-behavior: smooth; 
  }
    
  .unasigned-box {
  
      width: 80px;
      height: 80px;
      border-right: none;
      border: solid 1px #ccc;
      border-radius: 5px;
      color: rgba(0, 0, 0, 0.87);
      box-sizing: border-box;
      cursor: move;
      background-color: white;
      font-size: 14px;
      margin: 5px 0px;
      text-align: center;
      display: inline-block;
      margin: 0px 0px 0px 10px;
      position: relative;
      justify-content: top;
      align-items: top;
    }
    
    .cdk-drag-preview {
      z-index: 10000000000;
      width: 200px;
      box-sizing: border-box;
      border-radius: 5px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
    .unasigned-box:last-child {
      border: none;
    }
    .cdk-drag-placeholder {
      opacity: 0;
    }
    
    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  
    
    .unasigned-box.cdk-drop-list-dragging .unasigned-box:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }