
.roomcard{
    width: 85%;
    height: 150px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:#303F9F;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /*border: 5px solid #4885ed;
    box-shadow: 1px 2px 10px 0 #4885ed;*/
    box-shadow: 1px 2px 10px 0 black;
  }

  .edit {
    position: relative;
    margin-top: -1%;
    margin-left: 96%;
    transform: scale(1.25);
  }
  
  .left_button {
    position: relative;
    margin-left: 13%;
    margin-right: -13%;
  }
  
  .right_button {
    position: relative;
    margin-right: 13%;
    margin-left: -13%;
  }

  
  .label {
    margin-top: 10px;
    font-size: 16pt;
  }
  
  .tittle{
      position: absolute;
      margin-top: 1%;
      font-size: 20px;
      color: white;
  }
  
  .device-container {
      display: flex;
      position: absolute;
      width: 95%;
      min-width: 100px;
      margin-top: 1%;
      justify-content: center;
      align-items: center;
  }
  
  .device-list {
      
      height: 90px;
      overflow: hidden;
      white-space: nowrap;
      width: 80%;
      margin: 0px 15%;
      scroll-behavior: smooth; 
      background-color: rgb(112, 120, 236);
      border-radius: 10px;
      justify-content: center;
      padding-top: 0.60em;
      margin-bottom: 1em;
  }
    
  .device-box {
  
      width: 80px;
      height: 80px;
      border-right: none;
      border: solid 1px #ccc;
      border-radius: 5px;
      color: rgba(0, 0, 0, 0.87);
      box-sizing: border-box;
      cursor: move;
      background-color: white;
      font-size: 14px;
      margin: 5px 0px;
      text-align: center;
      display: inline-block;
      margin: 0px 0px 0px 10px;
      position: relative;
      justify-content: center;
      align-items: top;
    }
    
    .cdk-drag-preview {
      z-index: 10000000000;
      width: 200px;
      box-sizing: border-box;
      border-radius: 5px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-placeholder {
      opacity: 0;
    }
    
    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  
    
    .device-box.cdk-drop-list-dragging .unasigned-box:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }