<div *ngIf="room">
<mat-card class="roomcard" color="primary">
  <mat-card-title>
<h2 class="tittle">{{room.name}}</h2>
<div class="edit">
  <button mat-icon-button [matMenuTriggerFor]="menu" color="accent">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item (click)="openDialog()">
      <mat-icon>edit</mat-icon>
      <span>Change name</span>
    </button>
    <button mat-menu-item (click)="delete()">
      <mat-icon>delete</mat-icon>
      <span>Remove room</span>
    </button>
  </mat-menu>
</div>
</mat-card-title>
  <div overflow="scroll" class="device-container" >
    <button (mousedown)="scrollLeft()" (mouseup)="stopScroll()" (mouseout)="stopScroll()" mat-mini-fab color="accent" class="left_button"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <div #containerunasigned cdkDropListSortingDisabled cdkDropList [cdkDropListData]="room.devices" cdkDropListOrientation="horizontal" class="device-list" (cdkDropListDropped)="drop($event)">
      <div class="device-box" *ngFor="let device of room.devices" cdkDrag  >
      <app-device-details [device]="device"></app-device-details>
      
      </div>
    </div>
    <button (mousedown)="scrollRight()" (mouseup)="stopScroll()" (mouseout)="stopScroll()" mat-mini-fab color="accent" class="right_button"><mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>
</mat-card>
</div>